.footer {
  background-color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.footer-heading {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 1rem;
}

.footer-text {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
}

.footer-link {
  display: block;
  color: #000;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-input {
  font-size: 14px;
}

.footer-subscribe-btn {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
}

.footer-subscribe-btn:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 13px;
  color: #999;
}

.footer-li{
    color: black !important;
  transition: all 0.3s ease;
}

.footer-li:hover{
      font-weight: 600;

}

