a:hover{
color: black !important;
text-decoration: none;}
a{color: black ;}
/**************************/
header{background-image: url(./images/my-acc/Rectangle\ 1.png);
height: 50vh;

background-position: center;
background-size: 100% 100%;}

header p{font-weight: 300;

font-size: 20px;}

header h2{font-weight: 600;
font-size: 40px;}

header p a{font-weight: 600;

text-decoration: none;}



/*********************************/
.login,.register {
  
    padding: 5vw;
   
}
.login button ,.register button{
    padding-block: 17px;
    padding-inline: 75px;
    border: 1px black solid;
    font-size: 20px;
    border-radius: 15px;
}
.login button:hover,.register button:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.register p{font-weight: 300;}
/**********************************/
@media (max-width: 750px) {
.login,.register {width: 100% !important;
text-align: center;}
  


}